html
{
    background-color: #f2f2f2;
}

.hello
{

    .for-app
    {
        margin: 0px auto;
        padding: 20px;
        margin: 10px;
        line-height: 50px;   
        font-size: 32px;
        text-align: center;

        border: solid 1px #ccc;
        background-color: #C12127;
        color: #fff;
    }
}